:root{
 --primary-text-color:  #212121;
 --title-text-color:  #757575;
 --accent-color:  #2196F3;
 --button-color:  #F5F4FA;
 --blackcolor: #000000;
 --whitecolor: #ffffff;
 --2Acolor: #2F303A;
}
body{
    font-family: 'Roboto', sans-serif;
    color: var(--blackcolor);
    background-color: var(--whitecolor);
    font-size: 14px;
    letter-spacing: 0.03em;
}
address {
    font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* ***************** */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.list{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.link{
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* --------------------------Button--------------------------------- */
.site-nav .header-link{
    color: var(--primary-text-color);
    display: block;
}
.site-nav .header-link:hover,
.site-nav .header-link:focus{
    color: var(--accent-color);
}
.site-nav .header-link.current{
    color: var(--accent-color);
}

.header-number-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;    
    color: var(--title-text-color);
}
.header-number-link:hover,
.header-number-link:focus{
    color: var(--accent-color);
}
/* -----------------------------portfolio-header------------------------------ */
.portfolio-header{
    border: 1px solid #ECECEC
}
/* ------------------------------------------------------index main------------------------------------------------- */



.web {
    padding-top: 24px;
    padding-bottom: 25px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.studio{
    padding-top: 24px;
    padding-bottom: 25px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blackcolor);
}

/* all nav */
.nav-flex{
    display: flex;
    align-items: center;

}
/* ----------site nav---------- */
.site-nav {
    display: flex;
    margin-left: 93px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .item+.item {
    margin-left: 50px;
}

/* --------auth nav--------- */
.auth-nav{
    display: flex;
    margin-left: auto;
}
.auth-nav .item+.item {
    margin-left: 50px;
}
/* ------------------------------------------------------HERO------------------------------------------- */
.hero{
    background-color: var(--2Acolor);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}
.decision {
    width: 696px;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--whitecolor);
    margin: 0 auto;
}
.services-button {
    display: inline-block;

    font-family: 'Roboto', sans-serif;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--whitecolor);

    margin-top: 30px;
    padding: 10px 32px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.services-button:hover,
.services-button:focus {
    background-color: #188CE8;
    color: var(--whitecolor);
}
/* ----------section work---------- */
.menu{
    padding: 94px 0;
}
.work-exp{
display: flex;
}
.work-exp .item + .item{
    margin-left: 30px;
}
.h3-Benefits {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.p-Benefits {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
/* -----------our-job-------------- */
.our-job{
    padding-bottom: 94px;
}
.work {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
    text-align: center;
}

.our-work{
    display: flex;
}
.our-work .item + .item{
    margin-left: 30px;
    
}
.button-menu-p{
    margin-bottom: 34px;
}
/* ----------------team block------------------ */
.team-block {
    background-color: var(--button-color);
    padding: 94px 0;
}
.team{
    margin-bottom: 50px;
    font-size: 36px;
    text-align: center;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    
}

.tema-list{
display: flex;
}
.tema-list .item + .item{
    margin-left: 30px;
}
.tema-list .item{
    background-color: var(--whitecolor);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.name-position{
    margin: 30px auto;
}
.name-team{
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;   
    color: var(--primary-text-color);
}
.position{
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
/* -----------footer---------- */

.web-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.studio-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,
        19;
    letter-spacing: 0.03em;
    color: var(--whitecolor);
}
.footer-address{
    margin-top: 20px;
}
.address-list .item{
    margin-bottom: 9px;
}
.address-list .item:last-child{
    margin-bottom: 0;
}
.maps{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--whitecolor);
}
.maps:hover,
.maps:focus{
    color: var(--accent-color);
}
.footer-number-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-number-link:hover,
.footer-number-link:focus {
    color: var(--accent-color);
}
.footer {
    padding: 60px 0;
    background-color: var(--2Acolor);
}
/* ----------------------portfolio-------------- */

/* button--------------- */
.button-section{
    padding-top: 94px;
    margin-bottom: 50px;
}
.button-section .list{
    display: flex;
    justify-content: center;
}
.button-section .item{
    margin-right: 8px;
}

.filter-button {
    padding: 6px 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--button-color);
    color: var(--primary-text-color);
    border: none;
}

.filter-button:focus {
    background-color: var(--button-color);
    color: var(--primary-text-color);
}

.filter-button:hover {
    background-color: var(--accent-color);
    color: var(--whitecolor);
}
/* --------job-list---------- */
.job-list{
    display: flex;
    flex-wrap: wrap;
}
.job-item{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    border-top: none;
}
.job-item:nth-child(3n) {
    margin-right: 0px;
}
.job-item:nth-last-child(-n+3){
    margin-bottom: 0;
}
.job-sites{
    padding: 20px 24px;
   
}
.job{
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;   
    color: var(--primary-text-color);
}  
 .sites{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
 }

        